NEXT_PUBLIC_ANALYTICS_ID=abcdefghijk
NEXT_PUBLIC_UPLOAD_STORE_PATH=./upload_store
NEXT_PUBLIC_ZIP_WORK_DIR_PATH=./zip_work_dir
NEXT_PUBLIC_DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/xxxxx/xxxxx
